.home {
  position: relative;
  display: grid;
  width: 100%;

  @media screen and (min-width: 576px) {
    width: 80%;
  }
}

.secret {
  font-size: 0.6rem;
  word-wrap: break-word;

  @media screen and (min-width: 380px) {
    font-size: 0.8rem;
  }

  @media screen and (min-width: 576px) {
    font-size: 1rem;
    width: 80%;
  }
}
